{% extends "main.html" %}
{% block main %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<h2>Welcome, students and practitioners of Ifa/Orisha</h2>
<div class="index flexrow">
  <div>
    <p>Osun’s Golden Harvest Temple of Love &amp; Light is a Temple and Seminary of Ifa/Orisha worship located in
      Pensacola
      and registered as a non-profit organization with the state of Florida.</p>
    <p>High Priestess, Iya Osunfemi, born Ruth Spears–a California native with roots in Pensacola–is its founder and
      head
      teacher.</p>

    <button type=button id="signup">Register</button>
  </div>
  <img src="/static/images/Iya_Osunfemi_Ruth_Spears.jpg" alt="Iya Osunfemi/Ruth Spears">
</div>
{% endwith %}
<h2>Readings, Single and Package Classes</h2>
<ul id="purchases" class="flexrow cards">
  {% for purchase in purchases %}
  <li>
    <h3>{{ purchase.name }}</h3>
    {% if purchase.description %}
    <p>{{ purchase.description }}</p>
    {% endif %}
    {% if purchase.images[0] %}
    <img src="{{ purchase.images[0] }}" alt="{{ purchase.name }}">
    {% endif %}
    <p>${{purchase.price['unit_amount'] // 100}}</p>
    <button type=button class=transaction id="{{purchase.price['id']}}" data-recurring=false
      data-loggedin="{{user.stripe_customer_id}}">Purchase</button>
  </li>
  {% endfor %}
</ul>
<h2>Subscriptions (Tithes)</h2>
<ul id="subscriptions" class="flexrow cards">
  {% for sub in subscriptions %}
  <li>
    <h3>{{ sub.name }}</h3>
    <p>{% if sub.description %}</p>
    <p>{{ sub.description }}</p>
    {% endif %}
    {% if sub.images[0] %}
    <img src="{{ sub.images[0] }}" alt="{{ sub.name }}">
    {% endif %}
    <p>${{sub.price['unit_amount'] // 100}} per {{sub.price['recurring']['interval']}}</p>
    <button type=button class=transaction id="{{sub.price['id']}}" data-recurring=true
      data-loggedin="{{user.stripe_customer_id}}">Subscribe</button>
    <p>(pause or cancel anytime)</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
