{% extends "main.html" %}

{% block title %}Library administration{% endblock %}

{% block main %}
<section>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h2>Library</h2>
  {% if not library_content %}
  <p> No classes yet. Add some below.</p>
  {% else %}
  <ul id="admin_library_content">
    {% for doc in library_content %}
    <li>
      <div class="libraryitem">
        <h3>{{ doc.title }}</h3>
        <div class="details">
          <p>{{doc.description}}</p>
          <p>Filename: {{doc.filename}}</p>
          <p>Minimum grade: {{doc.minimum_grade}}</p>
          <p><a href="docs/{{doc.id}}" title="{{doc.description}}">view file</a></p>
          <button type="button">edit (todo)</button>
          <button type="button">delete (todo) archive?</button>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>New Document</legend>
      <label><input type=text name=title required>Title</label>
      <label><input type=text name=description required>Description</label>
      <label><input type=text name=minimum_grade value="1" required>Required Grade</label>
      <label><input type="file" name="document" accept="application/pdf" required>Document PDF</label>
      <label><input type="file" name="thumbnail" accept="image/png, image/jpg" required>Thumbnail</label>
      <button type="submit">Upload</button>
    </fieldset>
  </form>
</section>
{% endblock %}
