{% extends "main.html" %}

{% block title %}Logi Page{% endblock %}

{% block main %}
<div class="main">
  <section>
    <h2>Your Library</h2>
    {% if not mylibrary %}
    <p> No classes yet. Purchase or subscribe <a href="/" title="home">here</a>.</p>
    {% else %}
    <ul>
      {% for doc in mylibrary %}
      <li>
        <a href="docs/{{doc.id}}" title="{{doc.description}}">
          <div class="libraryitem">
            <h3>{{ doc.title }}</h3>
            <p>{{doc.description}}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
  <section>
    <h2>Your Subscriptions</h2>
    {% if not student_subscriptions %}
    <p> No subscription yet. Subscribe <a href="/" title="home">here</a>.</p>
    {% else %}
    <ul>
      {% for sub in student_subscriptions %}
      <li>
        <div class="subscriptionitem">
          <h3>{{ sub.created }}</h3>
          <p>{{sub.amount}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</div>
{% endblock %}
