{% extends "main.html" %}

{% block title %}Logi Page{% endblock %}

{% block main %}
<section>
  <h2>Your Library</h2>
  {% if not mylibrary %}
  <p> No classes yet. Purchase or subscribe <a href="/" title="home">here</a>.</p>
  {% else %}
  <ul id="library_content">
    {% for doc in mylibrary %}
    <li>
      <div class="libraryitem">
        <h3>{{ doc.title }}</h3>
        <p>{{doc.description}}</p>
        <figure class="details">
          <img src="/images/thumbs/{{doc.id}}" data-id="{{doc.id}}" class="imgthumb" height="220" alt="thumbnail image">
          <figcaption>
            <p>Filename: {{doc.filename}}</p>
            <p>Minimum grade: {{doc.minimum_grade}}</p>
            <p><a href="docs/{{doc.id}}" title="{{doc.description}}">view pdf</a>
            </p>
          </figcaption>
        </figure>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
<section>
  <h2>Your Subscriptions</h2>
  {% if not student_subscriptions %}
  <p> No subscription yet. Subscribe <a href="/" title="home">here</a>.</p>
  {% else %}
  <ul class="subscription_list">
    {% for sub in student_subscriptions %}
    <li>
      <div class="subscriptionitem {{sub.status}}">
        <h3>{{ sub.product_name }}</h3>
        <h4>{{sub.amount}}</h4>
        <p>Since {{ sub.created }} <span>({{sub.ends_or_renews}} {{sub.current_period_end}})</span></p>
        {% if sub.status == 'active' %}
        <button id="subscription_{{sub.id}}" class="subscription_cancel">Cancel</button>
        {% else %}
        <button id="subscription_{{sub.id}}" class="subscription_resume">Resume</button>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endblock %}
